<div class="row">
  <div *ngIf="(event$ | async) as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, event)">
      <div class="form-group">
        <label for="">Name</label>
        <input name="name" [(ngModel)]="event.name" type="text"
          class="form-control" pattern=".{8,25}" required>
        <div [hidden]="eventForm.controls.name?.valid || eventForm.controls.name?.pristine" class="error-message">
          The name must be between 8-25 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input name="date" [(ngModel)]="event.date" type="text"
          class="form-control" pattern="^(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/]\d{4}$" required>
          <div [hidden]="eventForm.controls.date?.valid  || eventForm.controls.date?.pristine" class="error-message">
            The date must be in DD/MM/YYYY format, eg. '12/31/2020'.
          </div>
      </div>
      <div class="form-group">
        <label for="">Time</label>
        <input name="time" [(ngModel)]="event.time" type="text"
        class="form-control" pattern="(0[1-9]|1[012])(am|pm)" required>
        <div [hidden]="eventForm.controls.time?.valid  || eventForm.controls.time?.pristine" class="error-message">
          The time must be in 00-12 + am/pm format, e.g. '11am'.
        </div>
      </div>
      <div class="form-group">
        <label for="">Country</label>
        <input name="country" [(ngModel)]="event.location.country" type="text"
        class="form-control" pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ ]{5,25}" required>
        <div [hidden]="eventForm.controls.country?.valid  || eventForm.controls.country?.pristine" class="error-message">
          Country most be between 5-25 characters and written in all CAPS, e.g 'ENGLAND'.
        </div>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input name="city" [(ngModel)]="event.location.city" type="text"
        class="form-control" pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]([A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒa-záàâäãåçéèêëíìîïñóòôöõúùûüýÿæœ -]{4,24})" required>
        <div [hidden]="eventForm.controls.city?.valid  || eventForm.controls.city?.pristine" class="error-message">
          City most be between 5-25 characters and must start with a capital letter, e.g. 'London'.
        </div>
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input name="address" [(ngModel)]="event.location.address" type="text"
        class="form-control" pattern=".{10,50}" required>
        <div [hidden]="eventForm.controls.address?.valid  || eventForm.controls.address?.pristine" class="error-message">
          Address most be between 10-50 characters.
        </div>
      </div>

      <button [disabled]="eventForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
